*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*------------Global Class------------*/

.sect-intro {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2;
  color: var(--text-color);
  margin-bottom: 0.75em;
}

.name {
  color: var(--bluecolor);
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.2rem;
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .name {
    font-size: 2rem;
  }
}

:root {
  /*------------Theme Colors------------*/
  --bluecolor: #0941ab;
  --text-color: #333232;
  --sec-color: #e28f0a;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* .parent-container {
  width: 100%;
  max-width: 1360px;
  padding: 0px;
} */

/*------------Left Container------------*/
.left-container {
  width: 25%;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #55527c1c;
  background: #ffffff;
}

.left-container .left-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 6rem 0;
}

.avatar1 {
  width: 40%;
  border: 3px solid #a5a6ff;
  border-radius: 100px;
}

.name-head {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bluecolor);
}

.nav-menu {
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
}

.nav-menu .nav-list {
  padding: 0;
}

.nav-menu .nav-list .nav-link {
  padding: 0.5em 0;
}

.nav-menu .nav-list .nav-link a {
  color: var(--text-color);
}

.nav-menu .nav-list .nav-link a:hover {
  color: #a5a6ff;
}

.social .fa-brands {
  padding: 1em;
  font-size: 1rem;
}

.social a {
  color: var(--bluecolor);
}

.copyright {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  color: var(--bluecolor);
}

/*-----xx-------Left Container------xx------*/

/*------------Right Container------------*/

.right-container {
  width: calc(100% - 25%);
  margin-left: 25%;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* -------------Mobile Navigation Menu------------ */

.mobile-menu {
  display: none;
  justify-content: space-between;
  align-content: center;
  padding: 1.25em;
  border-bottom: 2px solid #55527c1c;
}

#sticky {
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  display: block;
  width: 40%;
}

.logo img {
  width: 100%;
}

.open-nav {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 600;
}
.mobile-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.mobile-contents .name-head {
  font-size: 1rem;
}

.mobile-contents .nav-menu .nav-list .nav-link {
  padding: 0;
  line-height: 0;
}

.mobile-contents .social {
  display: flex;
}
.mobile-contents .social .fa-brands {
  padding: 0.2rem;
  font-size: 1rem;
}

.mobile-contents .copyright {
  font-size: 0.8rem;
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .mobile-menu {
    display: flex;
  }
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  border-left: 1px solid #55527c1c;
}

.sidenav a {
  padding: 0.5em 0.5em 2em;
  text-decoration: none;
  color: var(--bluecolor);
  display: block;
  transition: 0.5s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 2.5rem;
  /* margin-left: 4em; */
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 1.5em;
  right: 2em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--bluecolor);
  color: white;
  cursor: pointer;
  padding: 0.8em;
  border-radius: 10px;
  font-size: 1.2rem;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*------------Banner------------*/
.banner {
  background: #effbf8;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.5em 1.25em;
}

.banner-left {
  width: 60%;
  padding: 0;
}

.banner-left .head1,
.head2 {
  font-family: "Inter", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--bluecolor);
}

.banner-left h2 span {
  color: var(--sec-color);
}

.banner-left p {
  margin-bottom: 2.5em;
  width: 80%;
}

.banner-left p span {
  color: #a5a6ff;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 4.5em;
  column-gap: 1em;
  row-gap: 1em;
  padding: 0;
}

.btn .btn-main {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  padding: 1em 2.5em;
  border: 1px solid var(--bluecolor);
  border-radius: 4px;
}

.btn .btn-got {
  color: #ffffff;
  background: var(--bluecolor);
}

.btn .btn-got:hover {
  background: #ffffff;
  color: var(--bluecolor);
}

.btn .btn-let {
  background: #ffffff;
  color: var(--bluecolor);
}

.btn .btn-let:hover {
  color: #ffffff;
  background: var(--bluecolor);
}

.contact-border {
  border-left: 4px solid var(--sec-color);
  color: var(--text-color);
  padding: 0 1em;
}

.contact-list li {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
}

.contact-list li a:hover {
  color: var(--sec-color);
}

.banner-right {
  width: 40%;
  padding: 0;
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .banner {
    flex-direction: column-reverse;
    padding: 7.5em 1.5em;
  }

  .banner-left {
    width: 100%;
    padding: 0;
  }

  .banner-right {
    width: 100%;
    padding: 0;
    margin-bottom: 1.8em;
  }
}

/*-------xx-----Banner------xx------*/

/*-------------About Page-------------*/

.about {
  padding: 8em 1.2em 5em;
}

.inner1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inner1 .inner1-left {
  width: 35%;
  padding: 0;
}

.inner1 .inner1-left h2 {
  color: var(--bluecolor);
  font-family: "Inter", sans-serif;
}

.inner1 .inner1-left .skill {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2em;
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .inner1 .inner1-left {
    width: 100%;
  }
}

.inner1-right {
  width: 65%;
  padding: 0;
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .inner1-right {
    width: 100%;
  }
}

.inner1-right .abt-author {
  font-size: 1.2rem;
}

.inner1-right .abt-author span {
  color: var(--sec-color);
}

.author-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.abt-box {
  padding: 0 1.2em 1.2em 0;
}

.abt-box p span {
  color: var(--bluecolor);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.abt-box p u {
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
}

.inner2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.inner2 .column {
  width: 31%;
  text-align: center;
}

.inner2 .exp {
  background: #a5a6ff;
}

.inner2 .proj {
  background: #fce8d4;
}

.inner2 .happy {
  background: #e3f9e0;
}

.inner2 .column .card {
  padding: 3.75em 1.2em;
}

.inner2 .column .card span {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4em;
  color: var(--bluecolor);
}

.inner2 .column .card p {
  font-family: "Karla", sans-serif;
  color: var(--text-color);
  text-transform: uppercase;
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .about {
    padding: 3.75em 1.2em;
    margin: 0;
  }

  .inner1 {
    flex-direction: column;
  }

  .inner1-left {
    width: 100%;
  }

  .inner1-right {
    width: 100%;
  }

  .inner2 {
    flex-direction: column;
  }

  .inner2 .column {
    width: 100%;
  }
}

/*------xx-------About Page------xx-------*/

/*-------------Skills Page-------------*/
/* .skill-page {
  padding: 6em 1.2em 4.5em;
  background: #ffffff;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 0;
}

.skill-head {
  color: var(--bluecolor);
  font-weight: 600;
  text-decoration: underline;
}

.languages,
.tools {
  padding: 1.8em;
  width: 45%;
  margin-bottom: 1.8em;
  border: 1px solid #1e1e1e2b;
  border-radius: 4px;
}

/* Mobile phone styles (up to 767px) */
/* @media (max-width: 767px) {
  .skills {
    flex-direction: column;
  }

  .languages,
  .tools {
    width: 90%;
    padding: 1.2em;
  } 
} */

/*------xxx-------Skills Page-------xxx------*/

/*-------------Experience Page-------------*/

.experience {
  padding: 6em 1.2em 4.5em;
  background: #e8f1f8;
}

.exp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2.5em;
  padding: 0;
}

.exp-container .exp-card {
  width: 48%;
  background: #ffffff;
  border: 1px solid #f9fafc;
  border-radius: 4px;
  margin-bottom: 1.8em;
  box-shadow: 1.8em 2.5em 5em 0 #e4edf5 outline;
}

.exp-card-detail {
  padding: 2.5em;
}

.exp-container .exp-card .exp-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.exp-box p {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  color: var(--sec-color);
}

.exp-box p span {
  color: var(--bluecolor);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.exp-card p:last-child {
  font-family: "Karla", sans-serif;
}

.exp-container .exp-card .exp-head h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .exp-container {
    flex-direction: column;
  }

  .exp-container .exp-card {
    width: 100%;
  }
}

/*-----xx--------Experience Page----xx---------*/

/*------------Service Page------------*/
.services {
  padding: 6em 1.2em 4.5em;
}

.service-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.service-right {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0;
}

.service-right h2 {
  color: var(--bluecolor);
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.service-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.5em;
  padding: 0;
}

.service-details .service-card {
  width: 48%;
  margin-bottom: 30px;
  padding: 1.8em 0;
  border: 1px solid #1e1e1e2b;
  border-radius: 4px;
}

.service-details .service-card h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--bluecolor);
  margin-bottom: 1.5em;
  padding: 0 2.5em;
}

.service-card p {
  font-family: "Karla", sans-serif;
  margin-bottom: 1.2em;
  padding: 0 2.5em;
}

/* .cont-btn {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: var(--bluecolor);
    border: none;
    background: transparent;
    cursor: pointer;
} */

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .services .service-head {
    flex-direction: column;
    margin-bottom: 1em;
  }

  .service-right {
    justify-content: start;
    align-items: end;
    padding: 0;
  }

  .service-details .service-card {
    width: 100%;
  }
}

/*---xx---------Service Page-----xx------*/

/*------------Project Page-----------*/

.projects {
  padding: 6em 1.2em 4.5em;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2.5em 0 4em;
  padding: 0;
}

.image-box {
  width: 30%;
}

.image-box a:hover {
  opacity: 1;
  background-color: var(--bluecolor);
}

.image-box h3 {
  color: var(--text-color);
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.image-box .client {
  color: var(--bluecolor);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.btn-project {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  padding: 0;
  justify-content: center;
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .image-box {
    width: 100%;
    text-align: center;
  }
}

/*---xx---------Project Page-----xx------*/

/*----------Testimonial Page----------*/

.review {
  padding: 6em 8em 1.2em;
  background: #fff5f6;
  text-align: center;
}

/* slideshow-container */
.testimonial-carousel {
  position: relative;
}

/* Slides */
.mySlides {
  margin-top: 1.2em;
  border-radius: 0;
  opacity: 0;
  transition: opacity 0.6s;
}

.mySlides p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1em;
  color: var(--text-color);
}

.mySlides p:last-child {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--bluecolor);
}

.mySlides p span {
  font-family: "Karla", sans-serif;
  color: var(--text-color);
}

.img-responsive {
  border-radius: 50%;
  width: 20%;
}

/* .dot-container */
.dot-container {
  text-align: center;
  padding: 1.2em;
}

/* Dot Indicator */
.dot {
  cursor: pointer;
  height: 0.5em;
  width: 0.5em;
  margin: 0 0.3em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--bluecolor);
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .review {
    padding: 2.5em;
  }
  /* .mySlides p,
  p:last-child,
  p span {
    font-size: 1.2rem;
  } */
}

/*------xx----Testimonial Page------xx----*/

/*----------Contact Page---------*/
.contact-us {
  padding: 1.2em 1.2em 3.5em 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.contact-details {
  width: 50%;
  padding-right: 3em;
}

.contact-details p {
  font-family: "Karla", sans-serif;
}

.two li a:hover {
  color: initial;
}

.contact-form {
  color: var(--text-color);
}

.contact-icons .fa-brands {
  border: 1px solid #f3f3f6;
  border-radius: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
}

.contact-icons a {
  color: var(--bluecolor);
}

/* Mobile phone styles (up to 767px) */
@media (max-width: 767px) {
  .contact-us {
    flex-direction: column;
  }

  .contact-details {
    width: 100%;
    padding-right: 0;
  }

  .contact-form {
    width: 100%;
  }

  .two {
    padding-left: 0;
  }

  .fa-solid {
    font-size: 1em;
  }
}

/*------xx----Contact Page------xx----*/

/*------xx------Right Container-------xx-----*/

/*----------Media Queries----------*/

/* -----Hide the left navigation on small screens and tablet devices */
@media (max-width: 1024px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100%;
    margin: 0;
  }
}

/* tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-menu {
    display: flex;
  }

  .logo {
    width: 20%;
  }

  .banner {
    padding-top: 10em;
  }

  .service-card {
    width: 21.5%;
  }

  /* .contact-us {
        width: 100%;
    } */

  .contact-details {
    width: 45%;
    padding-right: 1.8em;
  }

  .contact-form {
    padding-left: 1.8em;
  }

  .two {
    padding-left: 0;
  }

  .fa-solid {
    font-size: 1rem;
  }
}
